/*CSS stylesheet*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
  }
  
  body a{
    text-decoration: none;
    color: inherit;
  }
  
  header {
    width: 100%;
    border: 1px solid #DBDBDB;
    position: fixed;
    top:0;
    left:0;
    background-color: #fff;
    z-index: 1;
  }
  
  header ion-icon {
    font-size: 25px;
    cursor: pointer;
  }
  
  
  .topo {
    width: 905px;
    height: 54px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-box {
    display: flex;
    align-items: center;
  }
  
  .logo-box img  {
    margin-left: 15px;
    cursor: pointer;
  }
  
  .logo {
    height: 45px;
  }
  
  .icon-1 {
    display: none;
  }
  
  header input {
    width: 215px;
    height: 28px;
    text-align: center;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
  }

  header input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }
  
  .icons-box ion-icon {
    margin-right: 15px;
  }
  
  .icons-box ion-icon:last-child {
    margin-right: 0;
  }
  
  .stories-box {
    width: 614px;
    height: 118px;
    margin-bottom: 35px;
    padding-left: 5px;
    border: 1px solid #DBDBDB;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
  }
  
  .arrow {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right:5px;
    bottom: 45px;
  }
  
  .arrow-shadow {
    font-size: 35px;
    color:rgba(0, 0, 0, 0.103);
    cursor: pointer;
    position: absolute;
    right:6px;
    bottom: 43px;
  }
  
  .stories {
    width: 80px;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .img img {
    width: 60px;
    border-radius: 66px; 
    margin-top: 5px;
  }
  
  .stories .img {
    width: 70px;
    height: 70px;
    text-align: center;
    background-image: url("imagens/stories_background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom:5px ;
    
  }
  
  .stories-box p {
    font-size: 12px;
    margin:0;
  }
  
  .feed-box {
    width: 614px;
  }
  
  .feed-box ion-icon {
    font-size: 25px;
    cursor: pointer;
  }
  
  .post {
    font-size: 14px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
    background-color: #fff;
  }
  .post-top {
    width: 100%;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .post-account {
    display: flex;
    align-items: center;
  }
  
  .post-account img {
    width: 40px;
    border-radius: 40px;
    margin-right: 10px;
  }
  
  .post > img {
    width: 100%;
  }
  
  .post video {
    width: 100%;
  }
  
  .post-icons {
    width:  100%;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icons-left ion-icon{
    margin-right: 7px;
  }
  
  .post-likes {
    width:  100%;
    height: 40px;
    padding-left: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  
  .post-likes img {
    width: 25px;
    margin-right: 10px;
    border-radius: 25px;
  }

  .post-likes span {
      margin: 3px;
  }
  
  .post-text {
    width: 100%;
    padding-left: 15px;
  }
  
  .post-comments {
    width: 100%;
    padding: 8px 15px;
    box-sizing: border-box;
  }
  
  .post-comments div {
    padding-bottom: 8px;
  }
  
  .add-comment {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    border-top: 1px solid #DBDBDB ;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .add-comment textarea {
    width: 70%;
    font-family: 'Roboto';
    padding-left: 10px;
    border: none;
    resize: none;
  }
  
  textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }
  
  .send {
    height: 100%;
    padding: 0 15px;
    cursor: pointer;
    border-left: 1px solid #DBDBDB ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .send:hover {
    opacity: 0.8;
  }
  
  .content {
    width: 905px;
    margin: 0 auto;
    margin-top: 88px;
    display: flex;
    justify-content: space-between;
  }
  
  .sidebar {
    width: 261px;
    height: 300px;
    font-size: 12px;
    position: sticky;
    right: auto;
    top: 88px;
  }
  
  .side-account {
    height: 80px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  
  .side-account img {
    width: 60px;
    border-radius: 40px;
    margin-right: 10px;
  }
  
  .side-info .ligther {
    display: inline-block;
    padding-top: 5px;
  }
  
  .side {
    height: 30px;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .side .bold {
    cursor: pointer;
  }
  
  .follow-box {
    margin-left: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .follow-box img {
    width: 40px;
    margin-right: 5px;
    border-radius: 40px;
  }
  
  .follow-suggestions {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .follow {
    width: 50px;
    height: 50px;]
    letter-spacing: 1.3px;
    color: #95D2F7;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .side-links {
    color: #C7C7C7;
    font-weight: lighter;
    padding: 10px;
  }

  .gray {
    color: #888787;
  }
  
  .time {
    font-size: 10px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .lighter {
    font-weight: lighter;
  }
  
  .bottom-bar {
    display: none;
  }
  
  /*-----------------RESPONSIVO-------------------*/
  /*-----------------RESPONSIVO-------------------*/
  /*-----------------RESPONSIVO-------------------*/
  /*-----------------RESPONSIVO-------------------*/
  /*-----------------RESPONSIVO-------------------*/
  
  @media (max-width: 935px){
  
    .topo {
        width: 95%;
    }
  
    .sidebar {
        display: none;
    }
  
    .content {
        width: 100%;
        justify-content: center;
    }
    
    .stories-box, .feed-box  {
        max-width: 100%;
    }
    
  }
  
  @media (max-width: 614px){
    
    * {
        box-sizing: border-box;
    }
  
    .topo {
        width: 100%;
    }
  
    .topo input, .icons-box{
        display: none;
    }
  
    .icon-1{
        display: block;
    }
  
    .logo-box {
        width: 100%;
        margin: 0 15px;
        justify-content: space-between;
    }
  
    .content {
        width: 100%;
        margin-top: 54px;
        display:block;
    }
  
    .stories-box {
        max-width: 100%;
        justify-content: flex-start;
        background-color:#FAFAFA ;
    }
  
    .arrow, .arrow-shadow {
        display: none;
    }
  
    .bottom-bar {
        width: 100%;
        height: 54px;
        padding: 0 10px;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: #fff;
    }
  
    .bottom-bar ion-icon {
        font-size: 25px;
        cursor: pointer;
    }
  
   
  }